<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    table{
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
  <h1>URL Shortner</h1>

  <% if(locals.id){ %>
    <p>URL Generated : <a href="http://localhost:3000/url/<%= id %>" target="_blank">http://localhost:3000/url/<%= id %></a> </p>
  <% } %>

  <div>
    <form method="POST" action="/url">
      <label for="">Enter Your Original URL</label>
      <input type="text" name="url" placeholder="https://example.com">
      <button type="submit">Generate</button>
    </form>
  </div>

  <div>
    <% if(locals.urls){ %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortId</th>
          <th>RedirectUrl</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index)=> { %>
            <tr>
              <td> <%= index+1 %> </td>
              <td> <%= url.shortId %> </td>
              <td> <%= url.redirectUrl %> </td>
              <td> <%= url.visitHistory.length %> </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% }%>
  </div>
</body>
</html>